.gradle/
.idea/
*.iml
local.properties

android/app/build/
android/app/.cxx/

*.onnx
*.onnx.data
*.safetensors
*.pt
*.pth
*.ckpt

models/asr/*
models/nmt/*
models/tts/*
!models/asr/README.md
!models/nmt/**/README.md
!models/tts/**/README.md
